body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Abyssinica SIL', serif;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
}
.weather-card{
    background-color: black;
    color: white;
    opacity: 0.8;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar{
    padding: .7em;
    border-radius: 20px;
    background-color:white;
    color: black;
    font-family: inherit;
    font-size: 110%;
    border: none;
    opacity: 0.7;
}
.search-btn{
    margin: 1em;
    padding: 1em;
    border-radius: 50%;
    color: black;
    opacity: 0.7;
}
.search-btn:hover{
    opacity: 1;
    cursor: pointer;
}

